python-dateutil
tornado
werkzeug
jinja2
markupsafe
itsdangerous
click
flask
Flask-Pymongo
Flask-Restful
Flask-JWT
jsonschema
netifaces
ipaddress
enum34
PyCrypto
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
